{% extends './layout.html.twig' %}

{% set title = 'Home Page - Vaccation MS' %}

{% block main %}

<main class="row row-dols-2 p-1">


    {% if user_role == 'MANAGER' %}
        <div class="col card text-center m-3">
            <div class="card-body">
            <h5 class="card-title">Manage Users</h5>
            <a href="/users" class="btn btn-primary">User Management</a>
            </div>
        </div>
    {% else %}
        <div class="col card text-center m-3">
            <div class="card-body">
            <h5 class="card-title">Manage My Profile</h5>
            <a href="/profile" class="btn btn-primary">Profile Management</a>
            </div>
        </div>
    {% endif %}

    <div class="col card text-center m-3">
        <div class="card-body">
        <h5 class="card-title">Manage Vaccations</h5>
        <a href="/vaccations" class="btn btn-primary">Vaccation Management</a>
        </div>
    </div>
</main>

{% endblock %}
