<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta name="csrf" content="{{csrf}}" />

        {% block css %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">        {% endblock %}

        {% block js %}
            <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
            <script>
                function getCSRFToken(){
                    return document.head.querySelector("[name=csrf][content]").content;
                }
            </script>
        {% endblock %}

    </head>
    <body >
        <header class="d-flex flex-row flex-row-reverse p-1 bg-dark">
            <a class="btn btn-danger ml-1" href="/logout">logout</a>
            <a class="btn btn-secondary ml-1" href="/profile">profile</a>
        </header>
        {% block main %}

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        {% endblock %}
    </body>
</html>