{% extends './layout_center_content.html.twig' %}

{% set title = 'Login VaccationMS' %}

{% block js %}
        <script>
            // https://stackoverflow.com/a/46181
            const validateEmail = (email) => {
                return email.match(
                    /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
                );
            };
            function checkForm(){

                const mailInput = document.getElementById("mailInput");
                const passInput = document.getElementById("passInput");

                const submitBtn = document.getElementById('submitBtn');

                console.log(passInput.value,mailInput.value);

                if(passInput.value == '' || mailInput.value == ''){
                    submitBtn.setAttribute("disabled", "disabled");
                    return;
                }

                if(!validateEmail(mailInput.value)){
                    submitBtn.setAttribute("disabled", "disabled");
                    return;
                }

                submitBtn.removeAttribute("disabled");
            }
        </script>
{% endblock %}

{% block main %}
<form class="card-body" method="POST" action='{{url}}'>
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <div class="form-group">
        <label for="mailInput">Email address</label>
        <input id="mailInput" type="email" name="email"  class="form-control" onchange="checkForm()"/>
    </div>
    <div class="form-group">
        <label for="passInput">Password</label>
        <input id="passInput" type="password" name="pass" class="form-control" onchange="checkForm()" />
    </div>
    <button id="submitBtn" type="submit" class="btn btn-primary btn-block" disabled>LOGIN</button>
</form>
{% endblock %}
