{% extends './layout_center_content.html.twig' %}

{% set title = 'ReserPassword' %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script>
        
        $(document).ready(function(){

            $('input[type=password]').on('change',function(e){
                const pass1 = $('input[type=password][name=password]').val();
                const pass2 = $('input[type=password][name=password2]').val();


                if(pass1!=pass2 && pass1 !== ''){
                    $("#submitBtn").attr('disabled',true);
                } else {
                    $("#submitBtn").attr('disabled',false);
                }
            });
        });

            function formSubmit(event,form){
                event.preventDefault();

                const action = form.getAttribute('action');
                const method = form.getAttribute('method');

                fetch(action, {
                    method: method,
                    redirect: 'follow',
                    body: new URLSearchParams(new FormData(form)),
                }).then(async (response) => {
                    const classname = response.status!=200?'alert-danger':'alert-success';
                    const jsonResponse = await response.json();
                    
                    const para = document.createElement("div");
                    para.className="alert "+classname;
                    para.innerText = jsonResponse.msg
                    para.role='alert';

                    const errors = document.getElementById("msg");
                    errors.appendChild(para);

                    if(response.status==200){
                        window.location='/login'
                    }
                });
            }
    </script>
{% endblock %}


{% block main %}
<div class="card-body">
    <form method="POST" action="/reset_password" onsubmit="formSubmit(event,this)">
        <input type="hidden" name="csrf" value="{{csrf_token}}" />
        <input type="hidden" name="token" value="{{token}}" />

        <div class="form-group">
            <label for="passInput">Password</label>
            <input id="passInput" type="password" name="password" class="form-control" />
        </div>
        <div class="form-group">
            <label for="passInput">Retype Password</label>
            <input id="passInput" type="password" name="password2" class="form-control" />
        </div>

        <button id="submitBtn" type="submit" class="btn btn-primary btn-block" disabled>Reset Password</button>
    </form>
</div>
{% endblock %}
